@font-face {
  font-family: 'PTSans';
  src: local('PTSans'), local('PTSans'),
  url('/ippk-diplom/fonts/PTSansRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans';
  src: local('PTSans'), local('PTSans'),
  url('/ippk-diplom/fonts/PTSansBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'AcromW00';
  src: local('AcromW00'), local('AcromW00'),
  url('/ippk-diplom/fonts/258f25658f1456fd0206d4fb09b637fe.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AcromW00';
  src: local('AcromW00'), local('AcromW00'),
  url('/ippk-diplom/fonts/007e3053464a1b5fcb56734c7c18eabe.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
