
.Header {
  height: 50px;
  background-color: var(--gray);
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.content {
  // @include frame;
  display: flex;
  gap: 50px;
}

.title {
  font-weight: bold;
}
