@use '../../../styles/main';

.Header {
  height: 70px;
  background-color: var(--background2);
  display: flex;
  align-items: center;
  padding: 0 main.$webSidePadding;
  font-size: 20px;
  gap: 50px;
  box-shadow: 0 2px 8px var(--shadow)
}

.title {
  font-weight: bold;
  color: var(--color1);
  font-size: 24px;
}
