
.Menu {
  display: flex;
  // height: 50px;
  // width: 500px;
  background-color: var(--gray);
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  font-size: 16px;
  font-family: 'PTSans';
  // text-transform: uppercase;
  color: var(--dark-light);
  a {
    color: var(--dark-light);
  }
}

.linkActive {
  text-decoration: underline;
}