.BackNavigation {
  margin-bottom: 20px;
  
  a {
    color: var(--color);
    text-decoration: none;
    font-size: 16px;
    
    &:hover {
      text-decoration: underline;
      background-color: var(--primary-light);
      transform: translateX(-4px);
    }
    
    &::before {
      content: '←';
      font-size: 18px;
    }
  }
}